/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header, footer {
    background: #333333;
    color: #fff;
    padding: 10px 0;
}

header h1, footer p {
    text-align: center;
    margin: 0;
}

/* Navigation Styles */
nav {
    background: #000000;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 5px 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #0056b3;
}

/* Form Styles */
form {
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* List Styles */
.size-breakdown-list, .env-vars-list {
    list-style-type: none;
    padding: 0;
}

.size-breakdown-list li, .env-vars-list li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}


/* Table Styles */
.table-responsive {
    overflow-x: auto;
}

.vuln-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.vuln-table thead tr {
    background-color: #333;
    color: white;
    text-align: center;
    font-weight: bold;
}

.vuln-table th, .vuln-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.vuln-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.vuln-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Severity-Specific Styles */
.severity-high {
    color: #d9534f;
    font-weight: bold;
}

.severity-medium {
    color: #f0ad4e;
    font-weight: bold;
}

.severity-low {
    color: #5bc0de;
    font-weight: bold;
}

.severity-critical {
    color: #d9534f;
    background-color: #f2dede;
    font-weight: bold;
}

/* Plot Container Styles */
.plot-container {
    text-align: center;
    margin-top: 20px;
}

.plot-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.plot-container .plotly-graph-div {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

/* Button Styles */
form button {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Back Link Styles */
.back-link {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

nav {
    background-color: #000000;
    padding: 10px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-list li {
    margin: 5px;
}

.nav-list a {
    text-decoration: none;
    color: #007bff; 
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-list a:hover {
    background-color: rgba(128, 128, 128, 0.479); 
}
